/*Estilos para toda la pagina*/
* {
    font-family: sans-serif;
    font-size: 4px;
    color: white;
    background-color: black;
    margin: 0px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Menu de navegacion centrado en la parte de la derecha de la parte superior*/
.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
/*Alineacion del contenido del menu de navegación (los enlaces a otras paginas)*/
.menu-item {
    margin: 0px 3px;
    list-style: none;
    align-content: center;
}

.titulo{
    display: flex;
    padding: 5px;
    /*Mantiene los espacios entre las palabras*/
    white-space: pre;
}

/*Decoracion de los enlaces*/
a{
    font-size: 4px;
    text-decoration: none;
}
a:hover{
    color: orange;
}
.gridFestivalProtagonista {
    display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "protagonista imagenProtagonista";
     
}
.festivalProtagonista{
    grid-area: protagonista;
    padding: 7px 30px;
}
.imagenProtagonista{
    grid-area: imagenProtagonista;
    padding: 5px
}
.gridLanzamientosRecientes {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "lanzamiento1 lanzamiento2 lanzamiento3 lanzamiento4 lanzamiento5";
}
.lanzamiento1 {
    grid-area: lanzamiento1;
    padding: 5px;
}
.lanzamiento2 {
    grid-area: lanzamiento2;
    padding: 5px;
}
.lanzamiento3 {
    grid-area: lanzamiento3;
    padding: 5px;
}
.lanzamiento4 {
    grid-area: lanzamiento4;
    padding: 5px;
}
.lanzamiento5 {
    grid-area: lanzamiento5;
    padding: 5px;
}
.lanzamiento6 {
    grid-area: lanzamiento6;
    padding: 5px;
}
.lanzamiento7 {
    grid-area: lanzamiento7;
    padding: 5px;
}
.lanzamiento8 {
    grid-area: lanzamiento8;
    padding: 5px;
}
.lanzamiento9 {
    grid-area: lanzamiento9;
    padding: 5px;
}
.lanzamiento10 {
    grid-area: lanzamiento10;
    padding: 5px;
}
#verde:hover{
    color:orange;
}
#verde {
    color: greenyellow;
}
#naranja:hover{
    color: greenyellow;
}
#naranja {
    color: orange;
}

