* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}

.menu {
    display: flex;
    flex-direction: row;
    background-color: palegoldenrod;
    height: 50px;
}

.menu-item {
    margin: 0px 10px;
    list-style: none;
    height: 50px;
}