/*Estilos para toda la pagina*/
* {
    font-family: sans-serif;
    color: white;
    margin: 0px;
}
body {
    background-color: black;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Menu de navegacion centrado en la parte de la derecha de la parte superior*/
.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
/*Alineacion del contenido del menu de navegación (los enlaces a otras paginas)*/
.menu-item {
    margin: 0px 10px;
    list-style: none;
    align-content: center;
}

.titulo{
    display: flex;
    padding: 20px 30px;
    /*Mantiene los espacios entre las palabras*/
    white-space: pre;
}

/*Decoracion de los enlaces*/
a{
    text-decoration: none;
}
a:hover{
    color: orange;
}
.gridFestivalProtagonista {
    display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "protagonista imagenProtagonista";
     
}
.festivalProtagonista{
    grid-area: protagonista;
    padding: 20px 80px;
}
.imagenProtagonista{
    grid-area: imagenProtagonista;
    padding: 20px 80px
}
.gridLanzamientosRecientes {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* 5 columnas */
    grid-template-rows: auto;
    padding: 20px 100px;
}

.gridLanzamientosRecientes article {
    background-color: rgb(30, 31, 30);
    padding: 15px;
    border-radius: 30px;
    display: flex;  
    flex-direction: column;   
    justify-content: center;
    align-items: center; 
    border: 4px solid rgba(172, 255, 47, 0.568);
}

.gridArtistasDestacados {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 20px 100px;
}
.gridArtistasDestacados article {
    background-color: rgb(30, 31, 30);
    padding: 15px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    border: 4px solid rgba(255, 166, 0, 0.623);
}

.gridFestivalesDestacados {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 20px 10px;
}
.gridFestivalesDestacados article {
    background-color: rgb(30, 31, 30);
    padding: 15px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px;
    border: 4px solid rgba(172, 255, 47, 0.568);
}
.albumsEscoltats {
    column-count: 2;
    column-gap: 80px;       /* espacio entre columnas */
    width: fit-content;     /* ajusta ancho al contenido */
    margin: auto;
    padding: 30px;
}
#verde:hover{
    color:orange;
}
#verde {
    color: greenyellow;
}
#naranja:hover{
    color: greenyellow;
}
#naranja {
    color: orange;
}
aside {
    position: fixed;
    top: 150px;           /* baja un poco para que no tape el header */
    width: 200px;
    background: rgb(30, 31, 30);
    padding: 15px;
    border-radius: 12px;
    border: 3px solid orange;
}
/* Aside izquierdo */
aside:first-of-type {
    left: 20px;
}

/* Aside derecho */
aside:last-of-type {
    right: 20px;
}

/* Para que el contenido principal no quede tapado */
body {
    margin-left: 240px;
    margin-right: 240px;
}

